<template name="ListStuff">
  {{#IfLoggedIn}}
    <div class="well">

      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Edit</th>
        </tr>
        </thead>

        <tbody>
        {{#each stuffList}}
          <tr>
            <td>{{name}}</td>
            <td>{{quantity}}</td>
            <td><a href="{{pathFor 'EditStuff'}}">Edit</a></td>
          </tr>
        {{/each}}
        </tbody>
      </table>

    </div>
  {{/IfLoggedIn}}
</template>
